= semantic_nested_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "custom"} ) do |f|
  = devise_error_messages!
  .row
    .large-6.columns= f.input :email
  .row
    .large-6.columns= f.input :name, :label => t(:real_name)
  .row
    .large-6.columns= f.input :username, :label => t(:username_nickname)
  .row
    .small-12.columns
      %p= t(:you_can_other_auth)
      = f.fields_for :authentications do |ff|
        .fieldset
      
          .row
            .small-4.columns
              = ff.input :provider, :as => :select, :collection => [ ['Facebook', 'facebook'], ['Google', 'google_oauth2'], ['Twitter', 'twitter']]
              = ff.input :username
        :javascript
          $(document).foundation();
  .row
    .small-6.columns= f.link_to_add t(:add_other_auth), :authentications, :class => [:button, :radius, :secondary, :tiny]
  .row
    .small-6.columns= f.submit t(:create_account), :class => [:button, :radius, :small]