
.row
  .small-4.columns
    %p Villi Stadi ry
    %p reg. 213.191
    %p= link_to 'stadinvillit x gmail piste com','mailto:stadinvillit@gmail piste com'
  .small-4.columns
    %p= link_to t(:terms_of_use), page_path('kayttoehdot')
    %p= link_to 'Facebook', 'https://www.facebook.com/villistadi'
    %p= link_to 'Twitter', 'http://twitter.com/villistadi'
  .small-4.columns
    %p= link_to t(:manifesto), page_path('manifesto')
    %p= t :get_involved_blurb