%section
  .title-card(style="background: url(#{@background_image}) no-repeat center 0px; background-size: cover")
    .row
      .small-12.columns.small-centered.text-center
        #logo
          %centerr= link_to image_tag("logo_fi.png"), '/'
        .columns.tagline
          %p.text-center= t :tagline
    .row
      .small-3.small-centered.columns.search_box.text-center
        = form_tag nil, :id => :place_search, :remote => true do
          = text_field_tag :location, t(:where_are_you_now)
          = submit_tag ''

%section
  .row#introduction
    .small-10.columns.small-centered.text-center
      %h1= t :take_a_walk_on_the_wild_side
      %p= t :wildside_blurb
      = link_to t(:see_more), '#', :id => :moresite, :class => [:btn, :"btn-default", :"btn-lg"], :onclick => 'scrollTo("#three_across")';
      
%section#latest_posts
  .row
    .small-12.columns.text-center
      %h3= t :latest_posts
      
  .row
    - @posts.each do |post|
      .small-3.columns
        - if post.icon?
          = image_tag post.icon.url(:box)
        %h4= link_to post.title, post, :target => :_blank
        .metadata= t(:posted_by, :poster => post.creator.name, :when => l(post.published_at, :format => :short))
        .body= raw truncate_html(post.body, :length => 400)
        .read_more.text-center= link_to t(:read_more), post, :target => :blank

%section#three_across
  .row
    .small-4.columns.text-center
      = image_tag '187408-evergreen.jpg'
      %h4= t :what_is_villi_stadi
      %p.text-center= t :what_is_villi_stadi_blurb
    .small-4.columns.text-center
      = image_tag 'wild_idea_2.jpg'
      %h4= t :wild_ideas
      %p.text-center= t :wild_ideas_blurb
    .small-4.columns.text-center
      = image_tag 'wolf_howling.jpg'
      %h4= t :call_of_the_wild
      %p.text-center= t :call_of_the_wild_blurb
%section#map_section
  .row
    .small-12.columns.text-center
      %h2= t :oasis_in_map
  .row
    .small-12.columns
      #front_map= render :partial => 'big_map'
      #map_sidebar
        .title
        %ol.hits-list
          %li This is a hit
      
= content_for :jquery do
  :plain
    $('.search_box #location').clearField();
    $('form#place_search').submit(function() {
      var input = document.getElementById('location');
      var searchBox = new google.maps.places.SearchBox(    /** @type {HTMLInputElement} */(input));
      var places = searchBox.getPlaces();
      if (places.length == 1) {
        alert(places[0].geometry.location);
      }
    });