<div class="title">
  <%= t :places_close_to, :location => @location %>
</div>
<ol class="hits-list">
  <script type="text/javascript">var newbounds = new google.maps.LatLngBounds(); </script>
  <% if @hits.empty? %>
  <li><%= t :not_searching_in_helsinki %></li>
  <% else
     @hits.each do |hit| %>
    <li>
      <a href="/places/<%= hit.slug  %>"><%= hit.name %></a>
      <br />
      <div class="distance"><%= sprintf("%2.2g", hit.distance) %> km</div>
    </li>
    <script type="text/javascript">
    newbounds.extend(new google.maps.LatLng(<%= hit.ne_lat %>, <%= hit.ne_lng %>));
    newbounds.extend(new google.maps.LatLng(<%= hit.sw_lat %>, <%= hit.sw_lng %>));
    </script>
  <% end %>
  <% end %>
</ol>
    
<script type="text/javascript">

$('#map_sidebar').css('display', 'block');
map.setCenter(new google.maps.LatLng(<%= @lat %>, <%= @lng %>));
setTimeout( function() { map.fitBounds( newbounds ); }, 1 ); 
map.setZoom(16);
scrollTo('#map_section');


</script>