.row
  .small-12.column  
    %h2= t :projects
    
.row.project_index
  .small-10.columns
    - @projects.each do |project|
      .project
        .row
          .small-2.columns
            - if project.image?
              = link_to image_tag(project.image.url(:box)), project
          .small-10.columns
            .title= link_to project.name, project
            .member_count= t(:members) + ": " + project.users.size.to_s
            .admin= "Admin: " + project.owner.name
        .row
          .small-12.columns.tagline
            %p= project.tagline
            - if user_signed_in?
              - if current_user == project.owner
                = link_to t(:edit_project_settings), edit_project_path(project), :class => [:button, :radius, :tiny]
