.project_container
  .row
    .small-12.columns
      %h2= @project.name
      %h3= t :new_forum_post
    
  = semantic_form_for [@forumpost], :html => {:"data-abide" => ''} do |f|
    = f.input :user_id, as: :hidden, value: current_user.id.to_s
    = f.input :project_id, as: :hidden, value: @project.id.to_s
    .row
      .small-8.columns
        = f.input :title
    .row
      .small-8.columns= f.input :body
    
    .row
      .small-12.columns
        = f.submit t(:create_post), :class => [:button, :radius, :small]
    
    = content_for :jquery do
      var puny_mce = new punymce.Editor({id : 'forumpost_body'});      