= semantic_form_for([:admin, @spot], :html => {:class => "custom", :"data-abide" => '' }) do |f|
  .row
    .small-6.columns= f.input :place, :as => :select, :collection => Place.all, :include_blank => false, :input_html => {:required => "" }
  .row
    .columns.small-12
      %dl.tabs{"data-tab" => ""}
        - I18n.available_locales.each_with_index do |locale, i|
          %dd{:class => (i == 0 ? :active : false)}
            = link_to t(:locale_name, :locale => locale), "##{locale}#{@spot.id.to_s}"
      .tabs-content
        - I18n.available_locales.each_with_index do |locale, i|
          .content{:class => (i == 0 ? :active : false), :id => "#{locale}#{@spot.id.to_s}"}
            = f.globalize_fields_for locale do |en|
              %b= "Name in #{t :locale_name, :locale => locale}"
              = en.text_field :name
              %b= "Description in #{t :locale_name, :locale => locale}"
              = en.cktext_area :description
  .row
    .small-12.columns
      %h3 Latitude & Longitude
      %p
        = t :latlng_helper
        = link_to 'Get latitude & longitude', 'http://dbsgeo.com/latlon/', :target => :_blank
  .row
    .small-6.columns= f.input :latitude, :input_html => {:required => ''}
    .small-6.columns= f.input :longitude, :input_html => {:required => ""}
  .row
    .small-6.columns= f.input :published

  .row
    .small-6.columns=f.submit t(:save), :class => [:button, :round, :small]
  