.page_container
  .row
    .small-12.columns
      %h2= t :posts

  - @posts.published.each do |post|
    .post
      .row
        .small-3.columns
          - if post.icon?
            - if post.icon_width.nil?
              = image_tag post.icon.url
            - else
              - if post.icon_width < 800
                = image_tag post.icon.url
              - else
                = image_tag post.icon.url(:box)
          - else
            = image_tag image_path('vs_project_placeholder.jpg')
        .small-9.columns
          %h3= link_to  post.title, post
          .metadata= t(:posted_by, :poster => post.creator.name, :when =>  l(post.published_at.localtime, :format => :long))
          .row.body
            .small-9.columns
              = raw truncate_html(post.body, :length => 350)
              - if post.body.size > 350
                = link_to t(:read_more), post
              
              

