.page_container.post_standalone
  .row
    .small-12.columns
      %h3= link_to  @post.title, @post
  .row
    .small-12.columns
      .metadata= t(:posted_by, :poster => @post.creator.name, :when =>  l(@post.published_at, :format => :long))
  - if @post.icon?
    .row
      .small-4.columns
        - if @post.icon_width.nil?
          = image_tag @post.icon.url
        - else
          - if @post.icon_width < 800
            = image_tag @post.icon.url
          - else
            = image_tag @post.icon.url(:box)
      .small-8.columns
        .body_show= raw @post.body
  - else
    .small-12.columns
      .row.body
        .small-9.columns
          = raw @post.body
          
  .row
    .small-12.columns
      %br/
      = link_to t(:back_to_index), posts_path, class: [:button, :tiny, :radius]