.page_container.post_standalone
  .row
    .small-12.columns
      %h3= link_to  @post.title, @post
  .row
    .small-12.columns
      .metadata= t(:posted_by, :poster => @post.creator.name, :when =>  l(@post.published_at.localtime, :format => :long))
  - if @post.icon?
    .row
      .small-4.columns
        - if @post.icon_width.nil?
          = image_tag @post.icon.url
        - else
          - if @post.icon_width < 800
            = image_tag @post.icon.url
          - else
            = image_tag @post.icon.url(:box)
      .small-12.medium-8.columns
        .body_show= auto_html(@post.body) { simple_format; link(:target => 'blank') }
  - else
    .small-12.columns
      .row.body
        .small-9.columns
          = auto_html(@post.body) { simple_format; link(:target => 'blank') }
          
  .row
    .small-12.columns
      %br/
      = link_to t(:back_to_index), posts_path, class: [:button, :tiny, :radius]
      - if can? :edit, @post
        = link_to t(:edit_post), edit_admin_post_path(@post), class: [:button, :tiny, :radius]