= semantic_form_for([:admin, @menu]) do |f|
  .row
    .small-6.columns
      = f.input :city, :label => t(:menu_for_which_site?), :include_blank => false
    .small-6.columns
      = f.input :item_type, :as => :select, :label => t(:type_of_menu_link), :collection => [["Page", "Page"], ["Internal Link", "Internallink"], ["Place", "Place"], ["External URL", "external_link"], ["nothing, just a dropdown", 'nothing']]
  .row#translation_fields{:style => (@menu.item_type == 'nothing' ? false : "display: none")}
    .columns.small-12
      %dl.tabs{"data-tab" => ""}
        - I18n.available_locales.each_with_index do |locale, i|
          %dd{:class => (i == 0 ? :active : false)}
            = link_to t(:locale_name, :locale => locale), "##{locale}#{@menu.id.to_s}"
      .tabs-content
        - I18n.available_locales.each_with_index do |locale, i|
          .content{:class => (i == 0 ? :active : false), :id => "#{locale}#{@menu.id.to_s}"}
            = f.globalize_fields_for locale do |en|
              %b= "Menu title in #{t :locale_name, :locale => locale}"
              = en.text_field :display_name      
  .row
    .small-12.columns= f.input :parent_id, :as => :select, :collection => Menu.all.to_a.delete_if{|x| x == f.object }.map{|x| [x.item_name, x.id]}, :hint => t(:leave_blank_for_top_level_menu)
  .row
    .small-12.columns= f.input :item_id, :as => :select , :collection => (f.object.item.nil? ? [] : f.object.item_type.constantize.all.map{|x| [x.name, x.id]})
  .row
    .small-12.columns= f.input :published
  .row
    .small-12.columns
      = f.submit t(:save), :class => [:button, :small, :radius]
  
= content_for :jquery do
  :plain
    $("#menu_item_type").change(function(e) {
      if ($("#menu_item_type").val() == 'Page') {
        $('#translation_fields').fadeOut();
        var city = $('#menu_city_id').val();
        $("#menu_item_id_input").fadeIn();
        $("#menu_item_id").find("option:gt(0)").remove();
        $("#menu_item_id").find("option:first").text("Loading...");
        $.getJSON("/admin/pages.json?by_city=" + city, function (data) {
          var html = '';
          var len = data.length;
            
          for (var i = 0; i< len; i++) {
        
              html += '<option value="' + data[i].id + '">' + data[i].name + '</option>';

          }
          $("#menu_item_id").find("option:first").remove();
          $('select#menu_item_id').append(html);
        });
      }
      if ($("#menu_item_type").val() == 'Place') {
        $('#translation_fields').fadeOut();
        var city = $('#menu_city_id').val();
        $("#menu_item_id_input").fadeIn();
        $("#menu_item_id").find("option:gt(0)").remove();
        $("#menu_item_id").find("option:first").text("Loading...");
        $.getJSON("/admin/places.json?by_city=" + city, function (data) {
          var html = '';
          var len = data.length;
            
          for (var i = 0; i< len; i++) {
        
              html += '<option value="' + data[i].id + '">' + data[i].name + '</option>';

          }
          $("#menu_item_id").find("option:first").remove();
          $('select#menu_item_id').append(html);
        });
      }      
      else if ($("#menu_item_type").val() == 'nothing') {
        $('#translation_fields').fadeIn();
        $("#menu_item_id_input").fadeOut();  
      }
      else if ($("#menu_item_type").val() == 'Internallink') {
        $('#translation_fields').fadeOut();
        var city = $('#menu_city_id').val();
        $("#menu_item_id_input").fadeIn();
        $("#menu_item_id").find("option:gt(0)").remove();
        $("#menu_item_id").find("option:first").text("Loading...");
        $.getJSON("/admin/internallinks.json?by_city=" + city, function (data) {
          var html = '';
          var len = data.length;
          for (var i = 0; i< len; i++) {
              html += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
          }
          $("#menu_item_id").find("option:first").remove();
          $('select#menu_item_id').append(html);
        });      
      }

    });