.row
  .small-12.columns
    %h1= @place.name
    
.row
  .small-4.columns
    %p= raw @place.description
  .small-8.columns#map

:javascript
  function buildmap() {
    var myOptions = {
      zoom: 15,
       center: new google.maps.LatLng(#{sprintf("%5f", @place.center.first)}, #{sprintf("%5f", @place.center.last)}),
      mapTypeId: google.maps.MapTypeId.SATELLITE
    }
    return new google.maps.Map(document.getElementById("map"), myOptions);
  }

  function initialize() {

    map = buildmap();
    var ne = new google.maps.LatLng(#{@place.ne_lat}, #{@place.ne_lng});
    var sw = new google.maps.LatLng(#{@place.sw_lat}, #{@place.sw_lng});
    var bounds = new google.maps.LatLngBounds(sw, ne);
    // map.fitBounds(bounds);
    return map;
  }
  
= content_for :jquery do
  :plain 
    map.setZoom(15);
  
  