%section.top-bar-section
  %ul.left
    - Menu.roots.by_city(1).published.sort_by(&:sort_order).each do |menu|
      %li{:class => menu.children.empty? ? false : 'has-dropdown'}
        = link_to menu.item_name, menu.link
        - unless menu.children.empty?
          %ul.dropdown
            - menu.children.sort_by(&:sort_order).each do |child|
              %li= link_to child.item_name, child.link

  - if user_signed_in?
    %ul.right
      %li.has-dropdown
        = link_to current_user.name, '#'
        %ul.dropdown
          - if current_user.has_role?(:staff) || current_user.has_role?(:goddess)
            %li= link_to 'Admin', '/admin'
          %li= link_to t(:sign_out), destroy_user_session_path, :method => :delete
  - else
    %ul.right
      %li.has-dropdown
        = link_to t(:sign_in), '#'
        %ul.dropdown
          %li= link_to t(:connect_with_facebook), '/auth/facebook'
          %li= link_to t(:connect_with_twitter), '/auth/twitter'
          %li= link_to t(:connect_with_google), '/auth/google_oauth2'
          %li= link_to t(:none_of_the_above), new_session_path(:user)
  .language
    = link_to_unless(session[:locale].to_s == 'fi', 'FIN', { :controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'fi'} )
    |

    = link_to_unless(session[:locale].to_s  == 'en', 'ENG', {:controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'en'}) 