!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }
    = display_meta_tags :site => 'Villi Stadi Admin' 
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,800", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Raleway:300,400,700", :rel => "stylesheet", :type => "text/css"}/



    = stylesheet_link_tag "application"
    = stylesheet_link_tag 'cms'
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tag

  %body.admin
    %header
      %nav.top-bar{:"data-topbar" => '', :role => :navigation}= render :partial => 'layouts/top_bar'
    .row
      .small-2.columns#logo
        = link_to image_tag('vs_black_small.png'), '/'
        .tagline
          %p.text-center Admin Side
      .small-10.columns
        %ul.button-group.round
          %li= link_to t(:pages), admin_pages_path, :class => [:button, :radius, :tiny]
          %li= link_to t(:posts), admin_posts_path, :class => [:button, :radius, :tiny]
          %li= link_to t(:menus), admin_menus_path, :class => [:button, :radius, :tiny]
          %li= link_to t(:places), admin_places_path, :class => [:button, :radius, :tiny]
          %li= link_to t(:spots), admin_spots_path,  :class => [:button, :radius, :tiny]
          %li= link_to t(:events), admin_events_path, :class => [:button, :radius, :tiny]
          %li= link_to t(:event_types), admin_eventtypes_path, :class => [:button, :radius, :tiny]
          %li= link_to t(:backgrounds), admin_randombackgrounds_path, :class => [:button, :radius, :tiny]
    %section
    
    = yield

    = javascript_include_tag "application"
    :javascript
      $(document).ready(function() {
        #{yield :jquery}
      });