!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }
    = display_meta_tags :site => 'Villi Stadi' 
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,800", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Raleway:300,400,700", :rel => "stylesheet", :type => "text/css"}/



    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tag

  %body
    %header
      %nav.top-bar{:"data-topbar" => '', :role => :navigation}
        %section.top-bar-section
          %ul.left
            %li.has-dropdown= link_to t(:urban_wild), '#'
            %li.has-dropdown= link_to t(:where_to_go), '#'
            %li= link_to t(:what_to_do), '#'
            %li= link_to t(:join_in), '#'
            %li= link_to t(:happening), '#'
            %li= link_to t(:more_info), '#'
          - if user_signed_in?
            %ul.right
              %li.has-dropdown
                = link_to current_user.name, '#'
                %ul.dropdown
                  %li= link_to t(:sign_out), destroy_user_session_path, :method => :delete
          - else
            %ul.right
              %li.has-dropdown
                = link_to t(:sign_in), '#'
                %ul.dropdown
                  %li= link_to t( ), '/auth/facebook'
                  %li= link_to t(:connect_with_twitter), '/auth/twitter'
                  %li= link_to t(:connect_with_google), '/auth/google_oauth2'
                  %li= link_to t(:none_of_the_above), new_user_registration_path
      #logo
        %center= image_tag 'logo2.png'
      .columns.tagline
        %p.text-center= t :tagline
    - unless flash.empty?
      #flash
        .row
          .small-12.columns
            - flash.each do |name, msg|
              - if msg.is_a?(String)
                = content_tag :div, msg, :id => "flash_#{name}"

    %section
    
    = yield

    = javascript_include_tag "application"
